body {

   font-family: 'Open Sans',  "sans-serif";
   font-size: 16px;
   padding:0;
   margin:0;
}






/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1 {

  font-family: Lora, "sans-serif";
  font-size: 100px;
  color: #4d4d4d;

}
  
h2 {

   font-family: Lora, "sans-serif";
   font-size: 37px;
   margin-top: 1px;


}

h4 {

   font-family: "Open Sans", "sans-serif";
   font-size: 16px;
   font-weight: bolder;
}


/*************************************************************/
/*Header */
/*************************************************************/


.header {

border-bottom: 3px #999999 solid ;
height: 135px;
margin: 0;

 
}

.logo {

  padding: 30px 30px 15px 190px;
}

.mainmenu {

  height: 100%;
}

 .mainmenu ul a {

  color: #fff;
  height: 100%;
  font-size: 13.33px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;

 }

.mainmenu ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  


}
.mainmenu ul li {
  font: bold 12px/18px 'Open Sans';
  height: 100%;
  color: #ffffff;
  display: inline-block;
  margin-right: 16px;
  position: relative;
  padding: 50px 20px;
  background: #3fa9f5;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.mainmenu ul li:hover {
  background: #3fa9f5;
  color: #fff;
}
.mainmenu ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
 
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
.mainmenu ul li ul li { 
  background: #3fa9f5; 
  display: block; 
  color: #fff;
  

}
.mainmenu ul li ul li:hover { background: #3fa9f5; }
.mainmenu ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

 

 
/*************************************************************/
/* Navigation Styles */
/*************************************************************/

.navbar {


  box-shadow: none;
  margin: 0;
  padding: 0;
  


}



.navbar-custom {
    background-color:none;
    border-radius:0;
    font-weight: bolder;


}

.navbar-collapse  {

  box-shadow: none;
  background-color: #ffffff;
  padding: 0;

  
  
  
}

.navbar-collapse ul li a{

  height: 110px;
}

 
  
.navbar-custom .navbar-nav > li > a {
    color: #000000;
    padding-left:20px;
    padding-right:20px;
    padding-top:75px;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  color: #000000;
  background-color:#FFFFFF;
}
      
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    color: #ffffff;
}


      
.navbar-custom .navbar-brand {
    color: #000000;
}
 

.nav>li>a:hover, .nav>li>a:focus, .nav>li>a:active {
background-color: #7f8c8d;
color: #fff;
}

.form-group {

  margin-top: 55px;
}

.form-control {

  background:url("../img/search.png") no-repeat scroll right center transparent;
}



 
 
/*************************************************************/
/* Carousel Styles */
/*************************************************************/

.carousel-control {
  padding-top:10%;
  width:5%;
}

.carousel-control.left, .carousel-control.right {

  background-image: none;
  background-repeat: no-repeat;
  color: #a1a1a1;
}

.carousel-control.left {

  left: -40px;
}

.carousel-control.right {

  right: -6px;
}


.carousel-inner .col-sm-3 {

  padding: 0;
  margin: 0;

}
 
.carousel-inner .col-sm-3 img, .carousel-inner .col-sm-3 .thumbnail {

  padding: 0;
  margin: 0;
  border: 0;
}

#myCarousel {

  margin: 10px 20px 20px 20px;
}

 /*************************************************************/
 /*  Carousel Title*/
 /*************************************************************/
 
 .slider h2 {

    background-color: #c1272d;
    color: #fff;
    display: inline-block;
    padding: 10px;
    font-size: 37px;
    margin-bottom: 40px;
    margin-top: 0;
    margin-left:15px;
 }

 .slider {

  border-top: 2px #c1272d solid;
  border-bottom: 2px #c1272d solid;
  padding-bottom: 60px;
 }
  
.col-md-12 {

  padding-left: 0;
}
 


 
/*************************************************************/
/* Impact Stories */
/*************************************************************/


.metadata {

  font-size: 14px;
  margin: 30px 0;
  color: #4d4d4d;
}

.impactcontainer h3 {

  color: #FFFFFF;
  font-weight: bolder;
  background-color: #3fa9f5;
  margin-top: 15px;
  margin-left: 9;
  padding: 10px
 

}

.impactcontainer h4 {

  line-height: 1.5em;

}

.updates {

  width: 100%;
  padding: 0;
  background-color: #d9eefd;
  opacity: 0.8;
}

.updatecontent {

  padding: 10px;
  border-bottom: 2px #3fa9f5 solid;
}

.impactcontainer {

  border-bottom: 20px;
  margin-bottom: 50px;

}

.shadow {

    
            box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.75);

}




 
/*************************************************************/
/* Feature Styles*/
/*************************************************************/

.featurecontainer {
  margin: 30px 0;
  position: relative;
  display: block;
  padding: 0;
  width: 100%;
  
  
}

 .col-md-4 {

  padding: 0;
  margin: 0;
  width: 33%;
  height: 100%;
  float: left;

 }
 

.col-md-4 .feature{
  
  

   background-color: #d9eefd;
   padding: 25px;
   text-align: justify;
   color: #4d4d4d;
   height: 270px;
   width: 97%;
   


}

.feature a {

  color: #3fa9f5;
  font-size: 13.33px;
  font-family: "Open Sans", sans-serif;
}


.feature #socialrow i {

  font-size: 56px;
}




 
/*************************************************************/
/* Leader Styles */
/*************************************************************/



 .leader {

 
  
  position: relative;
  display: block;


 }

 .leader a, .impactcontainer a {

  color: #3fa9f5;
  font-size: 13.33px;
  font-family: 'Open Sans', sans-serif;
 }

.leadercontainer {

  border-top: 1px #666666 solid;
  border-bottom: 1px #666666 solid;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto;

}

.leadercontainer h2 {

  padding-top: 30px;
  color: #4d4d4d;
}
.leadercontainer p {

  text-align: justify;
  color: #4d4d4d;
}




 
/*************************************************************/
/*  Social Icon Row */
/*************************************************************/





#socialrow {

  height: 45px;
  text-align: justify;
  
}

#socialrow i {
   display: inline-block;

}

#socialrow a i {
  
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
   
}

#socialrow a:hover i {
  
 opacity: .5;
   
}



#socialrow a {

   text-decoration: none;
}

#socialrow:after {
  content: '';
  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
  display: inline-block;
}

#socialrow i.fa-twitter-square{

   color: #00acee;
}
#socialrow i.fa-facebook-square{

  color: #3b5998;
}
#socialrow i.fa-youtube-play{

  color: #c4302b;
}
#socialrow i.fa-fa-linkedin-square{

  color: #0e76a8;
}
#socialrow i.fa-rss-square{

  color: #ee802f;
}

.search input[type="text"] {

   border: 1px solid #a1a1a1;
   background-color: #fff;
   border-radius: 10px;
   padding-left: 8px;
   margin-top: 8px;
   line-height: 28px;

}

#submit {
 color: #fff;
 
 border: none;
 margin: 0;
 padding: 5px;
 width: 60px;
 font-size: 12px;
 background: #34495E ; 
}



 
/*************************************************************/
/* Inner Page Styles */
/*************************************************************/


 .inner-page p{
  
  text-align: justify;

 }

 .inner-page img {
  
 -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;

 }





/*************************************************************/
/*  Footer Styles*/
/*************************************************************/


  

   footer {

    background-color: #f2f2f2;
    color: #666666;
    border-top: 3px #2c3e50 solid;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 400px;

   }

   footer li {

    list-style-type: none;
   }

   footer li.title {

    font-weight: bolder;
    margin: 20px 0 20px 0;
    text-transform: uppercase;
   }

   footer li.main {

    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 0 5px 0;
   }

   
   .main:first-child {

    margin-bottom: 2px;
    margin-top: 20px;
   }







/* Flatten das boostrap */
.well, .navbar-inner, .popover, .btn, .tooltip, input, select, textarea, pre, .progress, .modal, .add-on, .alert, .table-bordered, .nav>.active>a, .dropdown-menu, .tooltip-inner, .badge, .label, .img-polaroid {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  border-collapse: collapse !important;
  background-image: none !important;
}






